.circle-avatar {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
    background-size: 100%;
    background-position: top left;
    border-radius: 100%;
    margin: 10px auto;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    box-shadow: 0px 5px 10px #000;
}

.circle-avatar:hover {
    box-shadow: 0px 5px 20px #000;
    background-size: 115%;
}

.circle-avatar:hover .outside-button {
    -webkit-transform: rotate(-45deg) translate(0px) rotate(-315deg);
    -ms-transform: rotate(-45deg) translate(0px) rotate(-315deg);
    transform: rotate(-45deg) translate(0px) rotate(-315deg);
    background: rgba(121, 106, 238, 0.35);
    width: 200px;
    letter-spacing: 10px;
    line-height: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1), letter-spacing 1.5s ease-out;
}

.circle-avatar .outside-button {
    display: block;
    position: absolute;
    line-height: 70px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
    font-family: Oswald;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: #796AEE;
    left: 50%;
    top: 50%;
    margin-top: -50px;
    margin-left: -50px;
    -webkit-transform: rotate(-180deg) translate(-100px) rotate(180deg);
    -ms-transform: rotate(-180deg) translate(-100px) rotate(180deg);
    transform: rotate(-180deg) translate(-100px) rotate(180deg);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.circle-avatar .outside-button span {
    letter-spacing: 0;
}
